* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    background: linear-gradient(to bottom, #2c3440, #12161a);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
    min-width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

header {
    align-items: center;
    background-color: #12161a;
    display: flex;
    font-style: bold;
    font-weight: 900;
    gap: 16px;
    height: 72px;
    justify-content: center;
    width: 100%;
}

.logo {
    height: 25px;
}

section, main {
    width: 800px;
}

section {
    display: flex;
}

.profile, .big-numbers {
    width: 50%;
}

.profile {
    align-items: center;
    display: flex;
    gap: 16px;
}

.profile-image {
    aspect-ratio: 1/1;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profile-name {
    font-size: 22px;
    font-weight: 900;
}

.profile-local {
    font-size: 13px;
    font-weight: 100;
}

.big-numbers {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.big-numbers>div {
    color: #d8e0e8;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.number {
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 8px;
}

.label {
    font-size: 10px;
    font-weight: 100;
}

.subtitle {
    border-bottom: 1px solid #456;
    color: #99AABB;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

.movies-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.movie {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.movie>img {
    border: 1px solid #456;
    border-radius: 4px;
    max-width: 156px;
    max-height: 231px;
}

.movie>img:hover {
    border: 2px solid #00e054;
}

.movie>:nth-child(2) {
    align-items: center;
    color: #99AABB;
    display: flex;
    font-size: 13px;
    font-weight: 100;
    height: 32px;
    justify-content: center;
    margin-bottom: 8px;
    text-align: center;
    width: 156px;
}

.movie>:nth-child(3) {
    background: #283038;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.05);
    color: #9ab;
    font-size: 12px;
    padding: 3px 6px;
    width: fit-content;
}

@media (max-width: 380px) {
    header {
        justify-content: flex-start;
        padding-left: 15px;
    }

    section, main {
        width: 350px;
    }

    body>section {
        flex-direction: column;
        gap: 40px;
    }

    .profile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .profile>div {
        text-align: center;
    }

    .big-numbers {
        justify-content: center;
        width: 100%;
    }

    .favorites {
        flex-wrap: wrap;
        justify-content: center;
    }

    .watchlist {
        flex-direction: column;
        justify-content: center;
    }

    .movie>span  {
        display: none;
    }
}